.footer {
	min-height: $footer-height;
	background: $mercury;
	line-height: $footer-height;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 35px;

	.footer-content {
		@include outer-container;
	}
}