/*lets do this mobile first*/
.header-wrapper {
	@include outer-container;

	.logo {
		@include fill-parent;
		text-align: center;
		padding: $small-screen-padding;
		margin-bottom: 0;

		@include media($medium-screen) {
			@include span-columns(8);
			text-align: left;
			padding: $desktop-padding;
		}
	}
	.social-links {
		@include fill-parent;
		padding: $small-screen-padding;

		@include media($medium-screen) {
			@include span-columns(4);
			padding: $desktop-padding;
		}
	}
}