/*navigation*/
.nav-wrapper {
	@include outer-container;
	padding: $small-screen-padding;

	@include media($medium-screen) {
		padding: 0;
	}

	.main-nav-toggle {
		display: block;
		text-align: center;
		background-color: $silver;
		padding: $small-screen-padding;

		i {
			float: right;
			font-size: 1.4em;
		}
		
		@include media($medium-screen) {
			display: none;
		}
	}
	.main-nav {
		display: none;

		&.active {
			display: block;
		}

		li {
			border: 1px solid $black;
			border-bottom: 0;
			&:last-child {
				border-bottom: 1px solid $black;
			}
		}

		@include media($medium-screen) {
			@include span-columns(12);

			li {
				display: block;
				width: 20%;
				float: left;
				border: 1px solid $black;
				border-right: 0;

				&:last-child {
					border-right: 1px solid $black;
				}
			}
		}

		a {
			display: block;
			text-align: center;
			background-color: $silver;

			&.active {
				background-color: $white;
			}
		}
	}
}