.social-links {
	text-align: center;
	line-height: 0;

	@include media($medium-screen) {
		text-align: right;
	}

	li {
		display: inline-block;
		text-align: center;
		line-height: 0;

		a {
			background-color: $black;
			border-radius: 50%;
			color: $white;
			display: inline-block;
			width: 38px;
			height: 38px;
			line-height: 38px;
			font-size: 1.2em;

			span {
				display: block;
				text-indent: -99999em;
				line-height: 0;
			}
		}
	}
}

