/*frameworks*/
@import "../bourbon/_bourbon.scss";
@import "../base/_base.scss";
/*visual debugging*/
/*$visual-grid: true;
$visual-grid-color: blue;
$visual-grid-index: front;
$visual-grid-opacity: 0.3;*/
/*visual debugging*/
@import "../neat/_neat.scss";

/*mine*/
@import "vars.scss";
@import "base.scss";
@import "header.scss";
@import "nav.scss";
@import "social-links.scss";
@import "content.scss";
@import "footer.scss";