/*vars*/
/*http://chir.ag/projects/name-that-color/*/
$black: #000;
$white: #fff;
$silver: #bfbfbf;
$mercury: #e6e6e6;

/*content*/
$small-screen-padding: 10px;
$desktop-padding: 35px;

/*footer*/
$footer-height: 74px;